@if(isAuthorize){
<nav class="bg-[#222222] border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-bold whitespace-nowrap text-white"
        >NeonInsight</span
      >
    </a>
    <!-- <div class="relative max-w-xl w-full hidden md:block">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search icon</span>
      </div>
      <input
        type="text"
        id="search-navbar"
        class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search..."
      />
    </div> -->
    <div class="flex gap-6">
      <div
        class="flex items-center md:order-2 space-x-2 md:space-x-0 rtl:space-x-reverse"
      >
        <button
          type="button"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
        >
          <span class="sr-only">Open user menu</span>
          <img
            src="./../../../assets/avatar.jpg"
            class="w-10 h-10 rounded-full"
          />
        </button>
        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
          id="user-dropdown"
        >
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a
                (click)="logoutUser()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
        <button
          data-collapse-toggle="navbar-user"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-user"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-end hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-user"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          <li>
            <a
              routerLink="/home"
              class="flex text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 px-4 py-3 font-medium text-white bg-[#3b3b3b] rounded-md hover:bg-[#636363]"
              aria-current="page"
              >Home</a
            >
          </li>
          <li
            class="flex text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 px-4 py-3 font-medium bg-white text-black hover:text-white rounded-md hover:bg-[#3b3b3b]"
          >
            <button (click)="createPost()" class="inline-flex items-center">
              Create Blog
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-plus"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
}@else {
<nav class="bg-[#222222] border-gray-200 dark:bg-gray-900 text-white">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-bold whitespace-nowrap text-white"
        >NeonInsight</span
      >
    </a>
    <!-- <div class="relative max-w-xl w-full hidden md:block">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search icon</span>
      </div>
      <input
        type="text"
        id="search-navbar"
        class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search..."
      />
    </div> -->
    <div class="flex gap-10">
      <div
        class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse gap-2"
      >
        <button
          routerLink="/login"
          class="flex text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 px-4 py-3 font-medium bg-white text-black hover:text-white rounded-md hover:bg-[#3b3b3b]"
        >
          Login
        </button>
        <button
          routerLink="/register"
          class="flex text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 px-4 py-3 font-medium text-white bg-[#3b3b3b] rounded-md hover:bg-[#636363]"
        >
          Signup
        </button>
      </div>
      <div
        class="items-center justify-end hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-user"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 bg-[#222222] rounded-md hover:bg-[#3b3b3b] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          <li>
            <a
              routerLink="/home"
              class="block py-2 px-3 text-white bg-[#3b3b3b] rounded-md hover:bg-[#636363]"
              aria-current="page"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
}
